body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
}
.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.square {
  border: 0.5px solid black;
  background-color: white;
  padding: 1rem;
}

.button {
  margin-top: 1rem;
}

#options {
  margin-bottom: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 0.5rem;
}

